# Discord API
discord.py
discord
PyYAML
python-dotenv
aiohttp
dotenv

# Environment variables and configuration
pyyaml

# LLM Clients
openai
mistralai
anthropic
litellm

# others
langchain-community
langchain-openai
langchain
faiss-cpu
semanticscholar
mistralai

# Utilities
python-dateutil
asyncpg # For database connections
colorlog  # For better logging output
asyncio
typing-extensions
psycopg2-binary
SQLAlchemy
alembic
cryptography
requests
pytest
tenacity
pydantic
audioop-lts